.my-text {
    color: white;
}

.my-navbar {
    height: 55px;
    background-color: #ffffff11;
    position: sticky;
    top: 0;
    z-index: 10;
}

.my-navbar-collapse {
    background-color: #ffffff11;
    padding: 0 10px 10px 10px;
}

.my-carousel {
    position: relative;
    top: -55px;
} 

.my-image {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption {
    padding-bottom: 200px; 
    text-shadow: 2px 2px 3px black;
}

.my-avatar {
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(77, 77, 77);
}

.my-card {
    background-color: #00000011;
}

.my-footer {
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}


@media only screen and (max-width: 900px) {
    .carousel-caption {
       display: none !important; 
    }
}

@media only screen and (min-width: 900px) {
    .my-navbar-collapse {
       background-color: transparent;
    }
}


